<footer class="py-2 bg-dark text-white ">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 text-lg-start">Copyright &copy; 2023</div>
      <div class="col-lg-3 my-3 my-lg-0">
        <a class="btn btn-dark" href="https://twitter.com/incubadora_noc"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-dark" href="https://m.facebook.com/people/Incubadora-del-NOC/100063640024874/"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-dark" href="https://www.instagram.com/incubadoradelnoc/"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>